<!DOCTYPE html>
<html th:include="template :: modelo">
<body>
<div th:fragment="conteudo">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>

          
        </tr>
        </thead>
        <tbody>
        <tr th:each="prof : ${professor}">
            <td th:text="${prof.id}"></td>
            <td th:text="${prof.nome}"></td>
            <td>
                <a th:href = "@{/excluir-professor(id=${prof.id})}">Excluir</a>
                <a th:href="@{/editar-professor(id=${prof.id})}">Editar</a>
            </td>
            
        </tr>

        </tbody>
    
    </table>
</div>
</body>
</html>